.m__block__one_general {
    width: 100%;
    height: 100vh;
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m__block__interal {
    width: 71%;
    height: 66%;
    background-color: #ffffff;
    border-radius: 7px;
    display: flex;
    justify-content: left;
}

.m_one_info {
    color: #2f444e;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m_one_info_interal {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.m_one_info_head {
    font-size: 40px;
    line-height: 42px;
    font-weight: 300;
}

.m_b_one_image {
    width: 50%;
    height: 100%;
    background-color: rgba(32, 110, 146, 0.411);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#m_one_image {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.m__block__two_general {
    width: 100%;
    height: 170vh;
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m__block__interal_two {
    width: 71%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 7px;
    display: flex;
    color: #2f444e;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
}

.m_head {
    width: 80%;
    height: 22%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.m_two_info_title {
    font-size: 40px;
    line-height: 42px;
    font-weight: 300;
    color: #2f444e;
}

.m_info_text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 20px;
    line-height: 26px;
    color: #1b272c;
}

.m_two_img {
    width: 100%;
    height: 53%;
    object-fit: cover;
}

.m_foot {
    width: 80%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.m__block__three_general {
    width: 100%;
    height: 100vh;
    background-color: #e7e7e7;
}