/*1200 */

@media (max-width: 1200px) {
    .binding_to_next {
        display: none;
    }
    /* one */
    .m__block__one_general {
        width: 100%;
        height: 140vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .m__block__interal {
        width: 71%;
        height: 80%;
        background-color: rgb(255, 255, 255);
        border-radius: 7px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .m_one_info {
        width: 100%;
        height: 45%;
    }
    .m_b_one_image {
        width: 100%;
        height: 55%;
    }
    #m_one_image {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    /* three */
    .m__block__three_general {
        width: 100%;
        height: 140vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .m_three_info {
        width: 100%;
        height: 45%;
    }
    .m_b_three_image {
        width: 100%;
        height: 55%;
    }
    #m_three_image {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
    }
    /* four */
    .m__block__four_general {
        width: 100%;
        height: 800vh;
    }
    .m_head_four {
        width: 80%;
        height: 8%;
    }
    .m_four_img {
        width: 100%;
        height: 86%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }
    .m_img_list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 33.5%;
    }
    .m_img_list img {
        width: 100%;
        height: 49.9%;
        object-fit: cover;
    }
    .m_foot_four {
        height: 6%;
        text-align: center;
    }
}